{% block ckeditor_row %}
    <style>
        .ck-editor {
            max-width: 700px;

            margin-bottom: 30px!important;
        }

        .ck-editor__editable_inline {
            min-height: 500px;
        }

        .ck-content p, .ck-content h1, .ck-content h2, .ck-content h3, .ck-content h4 {
            color: black;
        }

        .ck-editor__top {
            position: sticky!important;
            top: 0!important;
            border-bottom: 1px solid!important;
        }
    </style>

    <label for="editor">Contenu</label>

    <textarea id="editor" name="{{ form.vars.full_name }}">
        {{ form.vars.data }}
    </textarea>
{% endblock %}
