{% block gallery_row %}
    <div id="gallery-form" class="gallery-form" data-gallery-id="{{ ea.entity.primaryKeyValue }}">
        <div class="form-group">
            <label for="gallery-photo" class="form-control-label">{{ form.vars.label }}</label>
            <div class="form-widget">
                <input id="gallery-photo" type="file" multiple class="form-control" />
            </div>

            <label class="gallery-photo-progress-container mt-3 w-100">
                Photos en cours de chargement... <span class="gallery-photo-progress-count">0</span> / <span class="gallery-photo-progress-total">0</span>

                <progress class="gallery-photo-progress w-100 mt-1" value="0" max="100"></progress>
            </label>

            <output class="gallery-photo-previews">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Url</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </output>
        </div>
    </div>
{% endblock %}
