@use "../../variable";

#galleries {
  .thumbnail {
    header {
      img {
        border-radius: variable.$border-radius-normal;
      }
    }
  }
}

.galleries-container {
  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
