<div class="thumbnails-container competition-types">
    <hr class="mt-2 mb-2">

    <h2>Type de concours</h2>

    <div class="thumbnails form-groups">
        {% for competitionType in competitionTypes %}
            <div class="competition-type form-group --check --btn --white">
                <input type="radio" id="{{ competitionType.value }}" name="competition-type" value="{{ competitionType.value }}">
                <label for="{{ competitionType.value }}">
                    {{ competitionType.value|trans({}, 'competition') }}
                </label>
            </div>
        {% endfor %}
    </div>
</div>
