{% macro socialNetwork() %}
    <div class="social-networks">
        <a href="{{ social_network.youtube }}"
           rel="nofollow"
           aria-label="Compte Youtube des Archers de Caen"
        >
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="{{ social_network.facebook }}"
           rel="nofollow"
           aria-label="Compte Facebook des Archers de Caen"
        >
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="{{ social_network.instagram }}"
           rel="nofollow"
           aria-label="Compte Instagram des Archers de Caen"
        >
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
{% endmacro %}
