{% macro socialNetwork() %}
    <div class="social-networks">
        <a href="https://www.youtube.com/channel/UCkbHDxHZnQmr05kvKf5mqkQ"
           rel="nofollow"
           aria-label="Compte Youtube des Archers de Caen"
        >
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/ArchersdeCaen"
           rel="nofollow"
           aria-label="Compte Facebook des Archers de Caen"
        >
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/archerscaen/"
           rel="nofollow"
           aria-label="Compte Instagram des Archers de Caen"
        >
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
{% endmacro %}
