{% macro socialNetwork() %}
    <div class="social-networks">
        <a href="https://www.youtube.com/channel/UCkbHDxHZnQmr05kvKf5mqkQ" rel="nofollow">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/ArchersdeCaen" rel="nofollow">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/archerscaen/" rel="nofollow">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
{% endmacro %}
