@use "../../styles/variable";

.gallery-form {
  margin-bottom: 150px; // Pour l'affichage des preview d'image

  .gallery-photo-previews {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    td, th {
      color: var(--text-primary-color);
    }

    .gallery-photo-preview {
      .fa {
        margin: 5px;
        cursor: pointer;

        &:hover {
          color: variable.$color-red;
        }
      }

      .photo-preview {
        img {
          display: none;
        }

        a:hover + img {
          display: block;

          width: 150px;
          max-width: 150px;
          height: 150px;
          max-height: 150px;

          object-fit: contain;

          position: absolute;
        }
      }
    }
  }
}
