{% extends 'app/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form
        action="{{ path(constant('App\\Http\\App\\Controller\\Security\\LoginController::ROUTE_APP_CONNECTION_LINK')) }}"
        method="post"
        class="form-groups w-50 m-a mt-3"
    >
        <input type="hidden" value="{{ last_username }}" name="identifier">

        <p>Vous avez reçu un mail avec un lien de connexion, vous avez juste à cliquer dessus</p>

        <p>Si le lien ne fonction pas, vous pouvez copier le code qui est dans l'email, juste ici</p>

        <div class="form-group mt-3">
            <label for="code">Code</label>
            <input type="text" id="code" name="code"/>
        </div>

        <button type="submit" class="btn -primary w-100 mt-4">Connexion</button>
    </form>
{% endblock %}

