{% extends 'app/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path(constant('App\\Http\\App\\Controller\\Security\\LoginController::ROUTE_APP_LOGIN')) }}" method="post" class="form-groups w-50 m-a mt-3">
        <div class="form-group">
            <label for="identifier">Email</label>
            <input type="text" id="identifier" name="identifier" value="{{ last_username }}"/>
        </div>

        <div class="w-100 flex jc-center">
            <button type="submit" class="btn -primary">Connexion</button>
        </div>
    </form>

    <hr>

    <div class="w-100 flex jc-center">
        <button type="submit" class="btn -primary">S'inscrire</button>
    </div>
{% endblock %}
