{% extends 'app/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form
        action="{{ path(constant('App\\Http\\App\\Controller\\Security\\LoginController::ROUTE_APP_LOGIN_PASSWORD')) }}"
        method="post"
        class="form-groups w-50 m-a mt-3"
    >
        <input type="hidden" value="{{ csrf_token('authenticate') }}" name="csrf">

        <div class="form-group">
            <label for="identifier">Email</label>
            <input type="text" id="identifier" name="identifier" value="{{ last_username }}"/>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password"/>
        </div>

        <button type="submit" class="btn -primary w-100 mt-3">Connexion</button>
    </form>
{% endblock %}
