{% extends '/app/base.html.twig' %}

{% block title %}Mes licences{% endblock title %}

{% block main %}
    {% if not app.user.archerLicenseActive %}
        <a class="btn -primary my-5" href="{{ path(constant('App\\Http\\App\\Controller\\LicenseController::ROUTE_APP_LICENSE_NEW')) }}">Prendre une licence</a>
    {% endif %}

    {% for license in app.user.archerLicenses %}
        {{ license }}
    {% else %}
        <p>Vous n'avez aucune licence</p>
    {% endfor %}
{% endblock main %}
