{% extends 'landing/base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block main %}
    <p>Les articles achetés devront être retirés au club, pas d'envois !</p>

    <iframe
        style="border:none; height:1000px; width:100%;"
        class="fit-height-content mt-2"
        src="https://www.helloasso.com/associations/archers-de-caen/boutiques/boutique-equipements-du-club/widget"
        title="Boutique Helloasso des Archers de Caen"
    >
    </iframe>
{% endblock %}
