{% extends "/landing/base.html.twig" %}

{% block title %}Prendre une licence{% endblock %}

{% block main %}
    <p>
        Il n'est actuellement pas possible de prendre une licence via le site, nous vous invitons à le faire au club.
    </p>
{% endblock main %}
