<div class="toggleables">
    {% for faq in faqs.content %}
        <div class="toggleable">
            <h3 class="toggleable-summary">{{ faq.question }}</h3>
            <div class="toggleable-content">{{ faq.answer|raw }}</div>
        </div>
    {% endfor %}
</div>
