<div class="toggleables">
    {% for faq in faqs.content %}
        <div class="toggleable">
            <div class="toggleable-summary">
                <h3>{{ faq.question }}</h3>
            </div>
            <div class="toggleable-content">
                <p>{{ faq.answer|raw }}</p>
            </div>
        </div>
    {% endfor %}
</div>
