<div class="flex">
    <div id="indoor-court" class="picture"></div>
    <div class="w-50">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1304.3236968184221!2d-0.3473323417114554!3d49.16930074852881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c1f794b538e6a91!2zNDnCsDEwJzA5LjUiTiAwwrAyMCc0Ni41Ilc!5e0!3m2!1sfr!2sfr!4v1660669943043!5m2!1sfr!2sfr"
            width="600"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Carte du gymnase"
        ></iframe>
    </div>
</div>
<p>
    <i class="fa-solid fa-snowflake"></i>
    Un gymnase pour la saison salle (de septembre à juin) - <i>Gymnase le COSEC 27 avenue Albert 1er, 14000 Caen</i>
</p>

<div class="flex mt-4">
    <div class="w-50">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.9524465091617!2d-0.3609947863050895!3d49.157641776827894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd79e7950041cd349!2zNDnCsDA5JzI1LjMiTiAwwrAyMSczMS4zIlc!5e0!3m2!1sfr!2sfr!4v1660670161021!5m2!1sfr!2sfr"
            width="600"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Carte du terrain extérieur"
        ></iframe>
    </div>
    <div id="outdoor-court" class="picture"></div>
</div>
<p>
    <i class="fa-solid fa-sun"></i>
    Un terrain permanent pour la saison extérieur (de mars à septembre) - <i>Avenue du 19 mars 1962 – 14123 Fleury-sur-orne</i>
</p>
