{% extends '/landing/base.html.twig' %}

{% from 'landing/_parts/file.html.twig' import file %}

{% block title %}
    La gazette
{% endblock %}

{% block description %}
    Le club des Archers de Caen proposent depuis 2006 une gazette mensuelle.
{% endblock description %}

{% block og %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/logo-archers-de-caen/logo-normal-v2.png')) }}" />
{% endblock og %}

{% block main %}
    <div class="page-content">
        <p>
            Le club des Archers de Caen proposent depuis 2006 une gazette mensuelle nommée Cœur de Cible retraçant les différents résultats,
            activités et faits marquants du club. Vous pouvez retrouver sur cette page les différents numéros déjà parus.
        </p>

        <p class="mt-2">
            Un grand merci aux rédacteurs de cette gazette :
        </p>

        <ul class="mt-2">
            <li><b>Jean-Pierre MARC</b> du n° 1 au n° 54</li>
            <li><b>William CARVILLE</b> du n° 55 au n° 75</li>
            <li><b>Paul LANGLOIS</b> du n° 76 au 105</li>
            <li><b>Valérie MAISERET</b> depuis le n°107</li>
        </ul>

        {% if accessGranted %}
            <div class="files mt-2">
                {% for newspaper in newspapers %}
                    {{ file(vich_uploader_asset(newspaper), newspaper.displayText) }}
                {% endfor %}
            </div>
        {% else %}
            <div class="border --rounded mt-2 p-3">
                <p class="mt-0">
                    Pour accéder aux gazettes, remplissez le formulaire ci-dessous pour recevoir un lien d'accès.
                </p>

                {{ form(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
