@import "../variable";

.bg {
  &-primary {
    background-color: $color-primary-purple !important;
  }

  &-yellow {
    background-color: $color-yellow !important;
  }

  &-secondary {
    background-color: $color-secondary !important;
  }

  &-grey {
    background-color: $color-grey !important;
  }

  &-red {
    background-color: $color-red !important;
  }

  &-blue {
    background-color: $color-blue !important;
  }

  &-black {
    background-color: $color-black !important;
  }

  &-white {
    background-color: $color-white !important;
  }
}
