@import "../variable";

.bg {
  &-primary, &-yellow {
    background-color: $color-yellow !important;
  }

  &-secondary, &-grey {
    background-color: $color-grey !important;
  }

  &-red {
    background-color: $color-red !important;
  }

  &-blue {
    background-color: $color-blue !important;
  }

  &-black {
    background-color: $color-black !important;
  }

  &-white {
    background-color: $color-white !important;
  }
}
