@use "../variable";

.border {
  border: 2px solid variable.$color-yellow;

  &.--rounded {
    border-radius: variable.$border-radius-normal;
  }
}

.rounded {
  border-radius: variable.$border-radius-normal;
}
