@use "../variable";

.border {
  border: 2px solid var(--color-yellow);

  &.--rounded {
    border-radius: var(--border-radius-normal);
  }
}

.rounded {
  border-radius: var(--border-radius-normal);
}
