@import "../variable";

.btn {
  border-radius: 30px;
  border: 2px solid $color-yellow;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  color: $color-yellow;

  &:disabled {
    background-color: lighten($color-grey, 20%) !important;
    color: lighten($color-grey, 50%) !important;
    border: unset !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $color-yellow;
    color: $color-white;
  }

  &.-primary {
    background-color: $color-yellow;
    color: $color-white;

    &:hover, &.-outline {
      background-color: unset;
      color: $color-yellow;
    }

    &.-outline {
      &:hover {
        background-color: $color-yellow;
        color: $color-white;
      }
    }
  }

  &.-secondary {
    background-color: $color-grey;
    color: $color-white;
    border-color: $color-grey;

    &:hover, &.-outline {
      background-color: unset;
      color: $color-grey;
    }

    &.-outline {
      &:hover {
        background-color: $color-grey;
        color: $color-white;
      }
    }
  }

  &.-danger {
    background-color: $color-red;
    color: $color-white;
    border-color: $color-red;

    &:hover, &.-outline {
      background-color: unset;
      color: $color-red;
    }
  }

  &.-success {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;

    &:hover, &.-outline {
      background-color: unset;
      color: $color-blue;
    }
  }
}
