@use "../variable";

.btn {
  border-radius: var(--border-radius-big);
  border: 2px solid var(--color-yellow);
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-yellow);
  box-shadow: var(--box-shadow);
  text-decoration: none;

  &:disabled {
    background-color: var(--color-grey-light) !important;
    color: var(--color-grey-lightest) !important;
    border: unset !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
  }

  &.-primary {
    background-color: var(--color-yellow);
    color: var(--color-grey);

    &:hover, &.-outline {
      background-color: unset;
      color: var(--color-grey)!important;
    }

    &.-outline {
      &:hover {
        background-color: var(--color-yellow);
        color: var(--color-white);
      }
    }
  }

  &.-secondary {
    background-color: var(--color-grey);
    color: var(--color-white);
    border-color: var(--color-grey);

    &:hover, &.-outline {
      background-color: unset;
      color: var(--color-grey);
    }

    &.-outline {
      &:hover {
        background-color: var(--color-grey);
        color: var(--color-white);
      }
    }
  }

  &.-danger {
    background-color: var(--color-red);
    color: var(--color-white);
    border-color: var(--color-red);

    &:hover, &.-outline {
      background-color: unset;
      color: var(--color-red);
    }
  }

  &.-success {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);

    &:hover, &.-outline {
      background-color: unset;
      color: var(--color-blue);
    }
  }
}
