@use "sass:color";
@use "../variable";

.btn {
  border-radius: variable.$border-radius-big;
  border: 2px solid variable.$color-yellow;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  color: variable.$color-yellow;
  box-shadow: variable.$box-shadow;
  text-decoration: none;

  &:disabled {
    background-color: color.adjust(variable.$color-grey, $lightness: 20%) !important;
    color: color.adjust(variable.$color-grey, $lightness: 50%) !important;
    border: unset !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: variable.$color-yellow;
    color: variable.$color-white;
  }

  &.-primary {
    background-color: variable.$color-yellow;
    color: variable.$color-grey;

    &:hover, &.-outline {
      background-color: unset;
      color: variable.$color-grey!important;
    }

    &.-outline {
      &:hover {
        background-color: variable.$color-yellow;
        color: variable.$color-white;
      }
    }
  }

  &.-secondary {
    background-color: variable.$color-grey;
    color: variable.$color-white;
    border-color: variable.$color-grey;

    &:hover, &.-outline {
      background-color: unset;
      color: variable.$color-grey;
    }

    &.-outline {
      &:hover {
        background-color: variable.$color-grey;
        color: variable.$color-white;
      }
    }
  }

  &.-danger {
    background-color: variable.$color-red;
    color: variable.$color-white;
    border-color: variable.$color-red;

    &:hover, &.-outline {
      background-color: unset;
      color: variable.$color-red;
    }
  }

  &.-success {
    background-color: variable.$color-blue;
    color: variable.$color-white;
    border-color: variable.$color-blue;

    &:hover, &.-outline {
      background-color: unset;
      color: variable.$color-blue;
    }
  }
}
