.flex {
  display: flex;

  &.jc- {
    &space-between {
      justify-content: space-between;
    }

    &center {
      justify-content: center;
    }

    &space-around {
      justify-content: space-around;
    }

    &space-evenly {
      justify-content: space-evenly;
    }

    &end {
      justify-content: end;
    }
  }

  &.direction- {
    &column {
      flex-direction: column;
    }

    &row {
      flex-direction: row;
    }
  }

  &.--wrap {
    flex-wrap: wrap;
  }

  @for $i from 0 through 15 {
    $multiplier: 10px;
    $props: m;
    &.--gap-#{$i} {
      gap: $multiplier*$i!important;
    }
  }
}
