@mixin m-a { margin: auto; }
@mixin mx-a { margin: auto; }
.m-a { @include m-a; }
.mx-a { @include mx-a; }

$multiplier: 10px;

@mixin mt($i) { margin-top: $multiplier*$i!important; }
@mixin mb($i) { margin-bottom: $multiplier*$i!important; }
@mixin ml($i) { margin-left: $multiplier*$i!important; }
@mixin mr($i) { margin-right: $multiplier*$i!important; }
@mixin mx($i) { margin-left: $multiplier*$i!important; margin-right: $multiplier*$i!important; }
@mixin my($i) { margin-top: $multiplier*$i!important; margin-bottom: $multiplier*$i!important; }
@mixin m($i) { margin: $multiplier*$i!important; }

@for $i from 0 through 15 {
  .mt-#{$i} { @include mt($i); }
  .mb-#{$i} { @include mb($i); }
  .ml-#{$i} { @include ml($i); }
  .mr-#{$i} { @include mr($i); }
  .mx-#{$i} { @include mx($i); }
  .my-#{$i} { @include my($i); }
  .m-#{$i} { @include m($i); }
}
