@import "../variable";

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Galaxy BT";
  src: url("../../fonts/galaxy/GalaxyBT.ttf") format("truetype");
  font-display: swap;
}

*:where(:not(iframe, canvas, img, svg, video, b, strong, center):not(svg *)) {
  all: unset;
  display: revert;
}

* {
  font-family: Roboto, "Arial Black", Arial, Verdana, sans-serif;
  font-weight: lighter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;

  &.disc {
    list-style: disc;
    padding-left: 30px;
  }
}

li {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.7;
  margin-top: 15px;

  a {
    color: $color-yellow;
    text-decoration: underline;

    &:hover {
      font-weight: bold;
    }
  }
}

a {
  cursor: unset;

  &:not([disabled]):not([class="btn"]) {
    cursor: pointer;

    &.highlighted {
      color: $color-yellow;
      text-decoration: underline;
    }

    &:hover {
      color: $color-yellow;
    }

    &:visited {
      color: inherit;
    }
  }
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

hr {
  border-top: 1px solid $color-yellow;
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

caption {
  font-weight: lighter;
  font-style: italic;
  margin: 1rem 0;
}
