@use "../variable";

.text- {
  &small {
    font-size: small !important;
  }

  &medium {
    font-size: medium !important;
  }

  &large {
    font-size: large !important;
  }

  &xx-large {
    font-size: xx-large !important;
  }

  &xxx-large {
    font-size: xxx-large !important;
  }

  &weight- {
    &bold {
      font-weight: bold !important;
    }

    &normal {
      font-weight: normal !important;
    }

    &lighter {
      font-weight: lighter !important;
    }
  }

  &primary {
    color: variable.$color-primary-blue !important;
  }

  &secondary {
    color: variable.$color-primary-purple !important;
  }

  &yellow {
    color: variable.$color-yellow !important;
  }

  &grey {
    color: variable.$color-grey !important;
  }

  &red {
    color: variable.$color-red !important;
  }

  &blue {
    color: variable.$color-blue !important;
  }

  &black {
    color: variable.$color-black !important;
  }

  &white {
    color: variable.$color-white !important;
  }

  &line-height- {
    &small {
      line-height: 1.2;
    }

    &medium {
      line-height: 1.5;
    }

    &normal {
      line-height: 1.7;
    }

    &large {
      line-height: 2;
    }
  }
}
