@import "../variable";

.text-small {
  font-size: small;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

.text-xx-large {
  font-size: xx-large;
}

.text-xxx-large {
  font-size: xxx-large;
}

.text-bold {
  font-weight: bold;
}

.text {
  &-primary {
    color: $color-primary-blue !important;
  }

  &-secondary {
    color: $color-primary-purple !important;
  }

  &-yellow {
    color: $color-yellow !important;
  }

  &-grey {
    color: $color-grey !important;
  }

  &-red {
    color: $color-red !important;
  }

  &-blue {
    color: $color-blue !important;
  }

  &-black {
    color: $color-black !important;
  }

  &-white {
    color: $color-white !important;
  }
}
