{% extends "/landing/base.html.twig" %}

{% block title %}Créneaux d’entraînement{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="page-title-container">
            <div class="page-title">
                <h1 class="title">
                    {{ block('title') }}
                </h1>
            </div>
        </div>

        <div class="page-content mt-3">
            {{ include('/landing/club/_parts/planning.html.twig') }}
        </div>

    </div>
{% endblock %}
