@use "../../styles/variable";

.alert {
  border-radius: var(--border-radius-normal);
  border: 1px solid;
  padding: 10px 15px;

  &-danger {
    background-color: var(--color-red-light) !important;
    border-color: var(--color-red);
  }
}
