@use "sass:color";
@use "../../styles/variable";

.alert {
  border-radius: variable.$border-radius-normal;
  border: 1px solid;
  padding: 10px 15px;

  &-danger {
    background-color: color.adjust(variable.$color-red, $lightness: 45%) !important;
    border-color: variable.$color-red;
  }
}
