@import "../variable";

.files {
  .file {
    display: flex;
    justify-content: space-between;

    width: 100%;
    border-radius: 10px;
    box-shadow: $box-shadow;
    padding: 15px;
    cursor: pointer;

    .file-type {

    }
  }
}
