@use "../variable";

.message-important-container {
  width: 100%;
  padding: 10px 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  .message-important-content {
    margin: auto;
    color: var(--color-grey);
    width: fit-content;
  }
}
