@use "../variable";

.message-important-container {
  width: 100%;
  padding: 10px 15px;
  box-shadow: variable.$box-shadow;
  background-color: variable.$color-white;

  .message-important-content {
    margin: auto;
    color: variable.$color-grey;
    width: fit-content;
  }
}
