@import "../../styles/variable";

.paginator-container {
  display: flex;
  align-items: center;
  overflow: auto;

  .paginator-prev, .paginator-next, .paginator-page {
    padding: 10px 15px;

    &:not([disabled]) {
      &.active, &:hover {
        border: $color-yellow 1px solid;
        border-radius: $border-radius-big;
      }
    }

    &.active {
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .paginator-prev {
    margin-left: auto;
    margin-right: 10px;
  }

  .paginator-next {
    margin-left: 10px;
    margin-right: auto;
  }

  .paginator-page {
    margin: 0 5px;
  }
}
