@use "../../styles/variable";

.paginator-container {
  display: flex;
  align-items: center;
  overflow: auto;
  background-color: var(--color-white);
  width: fit-content;
  margin: auto;
  border-radius: var(--border-radius-big);
  padding: .5rem;

  .paginator-prev, .paginator-next, .paginator-page {
    padding: 10px 15px;

    &:not([disabled]) {
      &.active, &:hover {
        border: var(--color-yellow) 1px solid;
        border-radius: var(--border-radius-big);
      }
    }

    &.active {
      background-color: var(--color-yellow);
      color: var(--color-white);
    }
  }

  .paginator-prev {
    margin-left: auto;
    margin-right: 10px;
  }

  .paginator-next {
    margin-left: 10px;
    margin-right: auto;
  }

  .paginator-page {
    margin: 0 5px;
  }
}
