.social-networks {
  display: flex;
  align-items: center;
  gap: .7rem;

  &-vertical {
    flex-direction: column;
    width: inherit;
    align-items: start;

    a {
      margin-top: .5rem;
    }
  }
}
