{# @var token strinh #}
{# @var identifier string #}

{% extends layout %}

{% block body %}

    <h1>Votre lien de connexion</h1>

    {# TODO: a faire #}

    {{ token }}
    {{ identifier }}

{% endblock %}
