{% extends '/landing/base.html.twig' %}
{% from 'landing/pages/_parts/pages.html.twig' import pages %}

{% block body %}
    <div class="thumbnail-page actualities">
        <div class="bg-target shape-target"></div>

        <div class="thumbnails-container">
            <div class="title">
                <h1 class="-white">L’actualité du Club</h1>
            </div>

            {{ pages(actualities) }}
        </div>

        <div class="mt-3">
            {{ include('/shared/components/paginator.html.twig', { paginator }) }}
        </div>
    </div>

{% endblock %}
