@use "sass:meta";
@use "variable";

:root {
  // For use variable outside sass/scss file
  --color-yellow: #{variable.$color-yellow};
  --color-red: #{variable.$color-red};
  --color-blue: #{variable.$color-blue};
  --color-black: #{variable.$color-black};
  --color-white: #{variable.$color-white};
  --color-grey: #{variable.$color-grey};
  --color-light-grey: #{variable.$color-light-grey};
}

@include meta.load-css("base/reset");
@include meta.load-css("base/flex");
@include meta.load-css("base/margin");
@include meta.load-css("base/padding");
@include meta.load-css("base/size");
@include meta.load-css("base/form");
@include meta.load-css("base/button");
@include meta.load-css("base/title");
@include meta.load-css("base/table");
@include meta.load-css("base/border");
@include meta.load-css("base/background");
@include meta.load-css("base/pointer");
@include meta.load-css("base/alignment");
@include meta.load-css("base/text");
@include meta.load-css("base/img");

@include meta.load-css("../modules/header/header");
@include meta.load-css("../modules/body/body");
@include meta.load-css("../modules/footer/footer");
@include meta.load-css("../modules/header/hamburger-menu");
@include meta.load-css("../modules/carousels/carousels");
@include meta.load-css("../modules/toggleable/toggleable");

@include meta.load-css("components/target");
@include meta.load-css("components/thumbnail");
@include meta.load-css("components/paginator");
@include meta.load-css("components/files");
@include meta.load-css("components/planning");
@include meta.load-css("components/alert");
@include meta.load-css("components/licenses");
@include meta.load-css("components/switch");
@include meta.load-css("components/social-network");
@include meta.load-css("components/recaptcha");
@include meta.load-css("components/share-bar");
@include meta.load-css("components/message-important");

@include meta.load-css("pages/index/main");
@include meta.load-css("pages/thumbnails");
@include meta.load-css("pages/style-guide");
@include meta.load-css("pages/contact");
@include meta.load-css("pages/page");
@include meta.load-css("pages/club/index");
@include meta.load-css("pages/galleries/gallery");

@include meta.load-css("pages/actualities/actuality");

@include meta.load-css("pages/results/results");
@include meta.load-css("pages/results/result-badges");
@include meta.load-css("pages/results/result-competition-season");

//@import "assets/modules/ckeditor/ckeditor";
