@import "./variable";

:root {
  // For use variable outside sass/scss file
  --color-yellow: #{$color-yellow};
  --color-red: #{$color-red};
  --color-blue: #{$color-blue};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-grey: #{$color-grey};
}

@import "base/reset";
@import "base/flex";
@import "base/margin";
@import "base/padding";
@import "base/size";
@import "base/form";
@import "base/button";
@import "base/title";
@import "base/table";
@import "base/border";
@import "base/background";
@import "base/pointer";
@import "base/alignment";
@import "base/text";

@import "../modules/header/header";
@import "../modules/body/body";
@import "../modules/footer/footer";
@import "../modules/header/hamburger-menu";

@import "components/target";
@import "components/thumbnail";
@import "components/paginator";
@import "components/files";
@import "components/planning";

@import "pages/index/main";
@import "pages/thumbnails";
@import "pages/style-guide";
@import "pages/contact";
@import "pages/page";

@import "pages/actualities/actualities";
@import "pages/actualities/actuality";

@import "pages/results/results";
@import "pages/results/result-badges";
@import "pages/results/result-competition-season";

//@import "assets/modules/ckeditor/ckeditor";
