@use "sass:map";
@use "../../variable";

.index-page {
  .info-bar {
    background-color: variable.$color-white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    min-height: 100px;
    padding: 20px;
    box-shadow: variable.$box-shadow;

    .partner {
      height: 60px;

      img {
        height: 100%;
        display: block;
      }
    }
  }
}

@media (max-width: map.get(variable.$grid-breakpoints, md)) {
  .index-page {
    .shape-target {
      &::after {
        display: none;
      }
    }
  }
}
