@use "sass:map";
@use "../../variable";

.index-page {
  .presentations {
    margin-top: 25px;

    .presentation {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: auto;
      width: 100%;

      h3, p {
        margin: 30px 0;
        color: variable.$color-grey;
      }

      h3 {
        font-size: x-large;
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        font-size: large;
        letter-spacing: 1.5px;
        line-height: 1.5;
      }

      img {
        object-fit: cover;
        border-radius: variable.$border-radius-small;
        box-shadow: variable.$box-shadow;
      }

      .content {
        .call-to-action {
          display: flex;
          justify-content: end;
        }
      }

      &:nth-child(1) {
        margin-top: 75px;

        .content {
          margin-left: 100px;
          margin-top: 25px;
          width: 400px;
        }

        img {
          width: 600px;
          height: 500px;
        }
      }

      &:nth-child(2) {
        margin-top: 100px;
        flex-direction: row-reverse;

        .content {
          margin-right: 150px;
          margin-top: 250px;
          width: 400px;
        }

        img {
          width: 400px;
          height: 750px;
          margin-left: 50px;
        }
      }

      &:nth-child(3) {
        margin: 100px auto auto;

        img {
          width: 450px;
          height: 400px;

          margin-right: 100px;
        }

        .content {
          width: 450px;
        }
      }

      &:nth-child(4) {
        margin: 100px auto auto;

        .content {
          width: 650px;
        }
      }
    }
  }
}

@media (min-width: map.get(variable.$grid-breakpoints, lg)) and (max-width: map.get(variable.$grid-breakpoints, xl)) {
  .index-page {
    .presentations {

      .presentation {
        &:nth-child(1) {
          margin-top: 75px;

          .content {
            margin-top: 10px;
            width: 300px;
          }

          img {
            height: 500px;
          }
        }

        &:nth-child(2) {
          margin-top: 100px;

          .content {
            width: 400px;
            margin-top: 180px;
            margin-right: 100px;
          }

          img {
            height: 500px;
          }
        }

        &:nth-child(3) {
          .content {
            width: 400px;
            max-width: 400px;
          }

          img {
            width: 450px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media (min-width: map.get(variable.$grid-breakpoints, md)) and (max-width: map.get(variable.$grid-breakpoints, lg)) {
  .index-page {
    .presentations {

      .presentation {
        &:nth-child(1) {
          margin-top: 75px;

          .content {
            margin-top: 0;
            width: 275px;
          }

          img {
            height: 500px;
            width: 450px;
          }
        }

        &:nth-child(2) {
          margin-top: 200px;

          .content {
            width: 350px;
            margin-right: 75px;
            margin-top: 75px;
          }

          img {
            height: 450px;
          }
        }

        &:nth-child(3) {
          .content {
            width: 350px;
          }

          img {
            height: 400px;
            width: 400px;
          }
        }
      }
    }
  }
}

@media (min-width: map.get(variable.$grid-breakpoints, sm)) and (max-width: map.get(variable.$grid-breakpoints, md)) {
  .index-page {
    .bg-target {
      display: none;
    }

    .presentations {
      .presentation {
        &:nth-child(1) {
          margin-top: 50px;

          .content {
            margin-top: 0;
            margin-left: 25px;
          }

          img {
            height: 300px;
            width: 300px;
          }
        }

        &:nth-child(2) {
          margin-top: 75px;

          .content {
            width: 300px;
            margin-top: 25px;
            margin-right: 50px;
          }

          img {
            height: 450px;
            width: 300px;
          }
        }

        &:nth-child(3) {
          .content {
            width: 300px;
          }

          img {
            width: 350px;
            height: 450px;
          }
        }
      }
    }
  }
}

@media (max-width: map.get(variable.$grid-breakpoints, sm)) {
  .index-page {
    .bg-target {
      display: none;
    }

    .presentations {
      width: 90%;
      margin: auto;

      .presentation {
        width: 100%!important;

        img {
          width: 100%;
          margin-top: 30px;
        }

        .content {
          width: 100%;
        }

        &:nth-child(1) {
          flex-direction: column-reverse;
          margin-top: 25px;

          .content {
            margin: 0 auto auto;
            width: 100%;
          }

          img {
            width: 100%;
          }
        }

        &:nth-child(2) {
          margin-top: 30px;
          flex-direction: column-reverse;

          .content {
            margin: 0 auto auto;
            width: 100%;
          }

          img {
            margin: 40px 0;
            width: 100%;
          }
        }

        &:nth-child(3) {
          margin-top: 30px;
          flex-direction: column-reverse;

          .content {
            width: 100%;
          }

          img {
            margin: 40px 0;
            width: 100%;
          }
        }
      }
    }
  }
}
