@import "../variable";

.actualities {
  .thumbnail {
    header {
      height: 70%;
    }

    footer {
      height: 30%;

      p {
        line-clamp: 4;
        -webkit-line-clamp: 4;
      }
    }
  }
}
