@import "../variable";

.style-guide-page {
  .logos {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 250px;
      height: 100px;
      padding: 10px;
      display: flex;
      justify-content: center;
      position: relative;

      &:before {
        content: "Télécharger";
        opacity: 0;
        transition: opacity .2s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.5rem;
        color: #383230;
        text-transform: uppercase;
        font-weight: 800;
        z-index: 10;
      }

      &:hover {
        background-color: rgba(255,192,0,.2);

        img {
          opacity: .2;
        }

        &:before {
          opacity: 1;
        }
      }

      img {
        height: 100%;
      }
    }
  }

  .colors {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;

    &.-primary {
      grid-template-columns: repeat(2, 1fr);
    }

    &.-secondary {
      grid-template-columns: repeat(5, 1fr);
    }

    .color {
      width: 100%;
      height: 100%;

      &:hover::before {
        content: attr(data-hover);
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        text-transform: uppercase;
        font-size: x-large;
        color: $color-white;
        background-color: transparentize($color-grey, 0.5);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.-primary-purple {
        background-color: $color-primary-purple;
      }

      &.-primary-blue {
        background-color: $color-primary-blue;
      }

      &.-yellow {
        background-color: $color-yellow;
      }

      &.-red {
        background-color: $color-red;
      }

      &.-blue {
        background-color: $color-blue;
      }

      &.-grey {
        background-color: $color-grey;
      }

      &.-white {
        background-color: $color-white;
      }

      &.-logo-yellow {
        background-color: $color-yellow-logo;
      }

      &.-logo-red {
        background-color: $color-red-logo;
      }

      &.-logo-blue {
        background-color: $color-blue-logo;
      }

      &.-logo-grey {
        background-color: $color-black-logo;
      }
    }
  }

  .gradiant {
    width: 100%;
    height: 50px;
    background: $linear-gradient-target;
  }

  .gradiant-logo {
    width: 100%;
    height: 50px;
    background: $linear-gradient-target-logo;
  }

  .typography-container {
    .typography-element {
      &-col-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  .font-container {
    .font-element {
      &-col-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .font-roboto * {
      font-family: 'Roboto', sans-serif;
    }

    .font-galaxy * {
      font-family: 'Galaxy BT', sans-serif;
    }
  }
}
