@use "../variable";

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste la largeur minimale */
  gap: 20px;

  .thumbnail {
    border-radius: variable.$border-radius-normal;
    break-inside: avoid; /* Empêche les coupures d'éléments */
  }
}

