@import "../variable";

.thumbnails-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 100px 0;
    text-align: center;
  }

  .thumbnails {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      column-gap: 1rem;
      columns: 2 360px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      columns: 3 310px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      columns: 4 280px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      columns: 5 260px;
    }

    .thumbnail {
      display: block;
      height: fit-content;
      width: 80%;
      margin: 0 auto 1rem auto;
      border-radius: $border-radius-normal;

      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        width: 360px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        width: 310px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        width: 280px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, xl)) {
        width: 260px;
      }
    }
  }
}
