{% extends 'landing/base.html.twig' %}

{% block title %}Formulaire d'inscription {{ competitionRegister }}{% endblock %}

{% block main %}
    <div class="page-content">
        {{ include('landing/competition-registers/_parts/mandate.html.twig') }}
        {% set url = path(
            constant('App\\Http\\Landing\\Controller\\CompetitionRegister\\RecapController::ROUTE'),
            { slug: competitionRegister.slug, licenseNumber: '__licenseNumber__' }
        ) %}
        <p>
            <a href="{{ url }}" id="see-recap">
                Déjà inscrit ? Voir le récapitulatif de votre inscription ou payer
            </a>
        </p>

        <div {{ react_component('competition/registration/RegistrationForm', {
            departures: departures
        }) }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
        </div>
    </div>
{% endblock %}