{% extends '/landing/base.html.twig' %}

{# @var competition \App\Domain\Competition\Model\Competition #}

{% block title %}
    Résultats du {{ competition }}
{% endblock %}

{% block main %}
    <div class="page-content">

        {{ include('/landing/results/competitions/_parts/results-competition-table.html.twig', {
            competition: competition,
            results: results,
            participantCount: participantCount,
            recordCount: recordCount,
            podiumCount: podiumCount
        }) }}

        {% set season = competition.dateStart|date('m') >= 9 ? competition.dateStart|date('Y') + 1 : competition.dateStart|date('Y') %}
        <a href="#"
           onclick="window.history.back(); return false;"
           class="show-all-actualities"
        >
            <i data-feather="arrow-left"></i>
            <span>Revenir a la liste des compétitions</span>
        </a>
    </div>
{% endblock %}

