{% macro thumbnail(link, img, title, withText = false) %}
    <a class="{% if withText %}thumbnail-with-text{% else %}thumbnail{% endif %}" href="{{ link }}" title="{{ title }}">
        <img
            src="{{ img }}"
            alt="Photo de la galerie"
            loading="lazy"
        >
        <p>{{ title }}</p>
    </a>
{% endmacro %}
