<div class="flex jc-space-between --wrap">
    <button class="btn mb-2">Le label du bouton</button>
    <button class="btn -primary mb-2">Le label du bouton</button>
    <button class="btn -secondary mb-2">Le label du bouton</button>
    <button class="btn -danger mb-2">Le label du bouton</button>
    <button class="btn -success mb-2">Le label du bouton</button>
    <button class="btn -success mb-2" disabled>Le label du bouton</button>
</div>

