<div class="colors -secondary">
    <div class="color -yellow"></div>
    <div class="color -red"></div>
    <div class="color -blue"></div>
    <div class="color -grey"></div>
    <div class="color -white"></div>
</div>