<div class="colors -secondary">
    <div class="color -yellow copy-btn" data-hover="#FDD20E" data-copy="#FDD20E"></div>
    <div class="color -red copy-btn" data-hover="#CC333D" data-copy="#CC333D"></div>
    <div class="color -blue copy-btn" data-hover="#3E55AB" data-copy="#3E55AB"></div>
    <div class="color -grey copy-btn" data-hover="#3B3D3F" data-copy="#3B3D3F"></div>
    <div class="color -white copy-btn" data-hover="#FFFFFF" data-copy="#FFFFFF"></div>
</div>
