<div class="colors -secondary">
    <div class="color -logo-yellow copy-btn" data-hover="#FEF13F" data-copy="#FEF13F"></div>
    <div class="color -logo-red copy-btn" data-hover="#E52421" data-copy="#E52421"></div>
    <div class="color -logo-blue copy-btn" data-hover="#3DBAEC" data-copy="#3DBAEC"></div>
    <div class="color -logo-grey copy-btn" data-hover="#1D1D1B" data-copy="#1D1D1B"></div>
    <div class="color -white copy-btn" data-hover="#FFFFFF" data-copy="#FFFFFF"></div>
</div>
