<div class="colors -primary">
    <div class="color -primary-purple copy-btn" data-hover="#572677" data-copy="#572677"></div>
    <div class="color -primary-blue copy-btn" data-hover="#2d3088" data-copy="#2d3088"></div>
</div>
