<div class="font-container">
    <div class="font-element-col-2">
        <div class="font-galaxy">
            <h3>Galaxy BT</h3>
        </div>

        <div class="font-roboto">
            <h3>Roboto</h3>
        </div>
    </div>
</div>
