<form class="form-groups">

    <div class="flex jc-space-between">
        <div class="form-group">
            <label for="input-1">Le label de l’input</label>
            <input type="text" id="input-1" placeholder="Exemple: dfzefzef" />
        </div>

        <div class="form-group">
            <label for="input-2">Le label de l’input</label>
            <input type="text" id="input-2" placeholder="Exemple: dfzefzef" />
        </div>
    </div>

    <div class="flex jc-space-between">
        <div class="form-group -error">
            <label for="input-3">Le label de l’input</label>
            <input type="text" id="input-3" placeholder="Exemple: dfzefzef" />
            <span class="error">L’erreur ici qu’il faut détailler</span>
        </div>

        <div class="form-group -error">
            <label for="input-4">Le label de l’input</label>
            <input type="text" id="input-4" placeholder="Exemple: dfzefzef" />
            <span class="error">L’erreur ici qu’il faut détailler</span>
        </div>
    </div>

    <div class="form-group">
        <label for="select-1">Le label du select</label>
        <select id="select-1">
            <option>Valuer 1</option>
            <option>Valuer 2</option>
            <option>Valuer 3</option>
            <option>Valuer 4</option>
            <option>Valuer 5</option>
        </select>
    </div>

    <div class="form-group">
        <label for="textarea-1">Le label du textarea</label>
        <textarea id="textarea-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis rhoncus ultrices. Duis dapibus ipsum
            quis mauris fermentum dapibus. Maecenas nec accumsan lectus. Etiam posuere tortor sed mollis molestie.

            Quisque gravida lacus nisi, et aliquam ex scelerisque vel. Morbi lacinia turpis et neque laoreet feugiat.
            Donec aliquam consectetur ligula ut maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum dignissim elit consequat, dapibus tortor vitae, finibus libero.
        </textarea>
    </div>

    <div class="flex jc-space-between">
        <div class="form-group -check">
            <label for="checkbox-1">Le label du checkbox</label>
            <input type="checkbox" id="checkbox-1" />
        </div>

        <div class="form-group -check">
            <label for="checkbox-2">Le label du checkbox</label>
            <input type="checkbox" id="checkbox-2" checked />
        </div>

        <div class="form-group -check">
            <label for="checkbox-3">Le label du checkbox</label>
            <input type="checkbox" id="checkbox-3" disabled />
        </div>
    </div>

    <div class="flex jc-space-between">
        <div class="form-group -check">
            <label for="radio-1">Le label du radio</label>
            <input type="radio" id="radio-1" name="test"/>
        </div>

        <div class="form-group -check">
            <label for="radio-2">Le label du radio</label>
            <input type="radio" id="radio-2" checked name="test"/>
        </div>

        <div class="form-group -check">
            <label for="radio-3">Le label du radio</label>
            <input type="radio" id="radio-3" disabled name="test"/>
        </div>
    </div>
</form>