<ul>
    <li>At nunc si ad aliquem bene nummatum tumentemque</li>
    <li>Proinde die funestis interrogationibus praestituto</li>
    <li>Hac ex causa conlaticia stipe Valerius humatur</li>
    <li>Verum ad istam omnem orationem brevis est</li>
    <li>Ergo ego senator inimicus, si ita vultis, homini,</li>
</ul>
