<div class="logos">
    <div>
        <h3>SVG</h3>
        <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" download>
            <img
                src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}"
                alt="Logo des archers de Caen en SVG"
            >
        </a>
    </div>

    <div>
        <h3>PNG</h3>
        <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.png') }}" download>
            <img
                src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.png') }}"
                alt="Logo des archers de Caen en PNG"
            >
        </a>
    </div>
</div>
