<div class="switch">
    <div class="choice">
        <input type="radio" id="switch-1" name="switch" checked/>
        <label for="switch-1">Le label du radio</label>
    </div>
    <div class="choice">
        <input type="radio" id="switch-2" name="switch"/>
        <label for="switch-2">Le label du radio</label>
    </div>
</div>
