<table class="table list">
    <thead>
        <tr>
            <th>Id</th>
            <th colspan="2">Le titre du tableau</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Pied de tableau 1</td>
            <td>Pied de tableau 2</td>
            <td>Pied de tableau 3</td>
            <td>Pied de tableau 4</td>
        </tr>
    </tfoot>
</table>

<table class="table --center">
    <thead>
    <tr class="highlighted">
        <th rowspan="3">Flèche</th>
        <th colspan="12">Conditions d’obtention</th>
    </tr>
    <tr class="highlighted">
        <th colspan="4">Jusqu’au 31/12/2005</th>
        <th colspan="4">Jusqu’au 31/08/2016</th>
        <th colspan="4">Depuis le 01/09/2016</th>
    </tr>
    <tr class="highlighted">
        <th>Distance</th>
        <th>Score requis</th>
        <th>Nb. flèches</th>
        <th>Blason</th>
        <th>Distance</th>
        <th>Score requis</th>
        <th>Nb. flèches</th>
        <th>Blason</th>
        <th>Distance</th>
        <th>Score requis</th>
        <th>Nb. flèches</th>
        <th>Blason</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Blanche</td>
        <td>10 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>10 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>10 m</td>
        <td>280</td>
        <td>6 x 6</td>
        <td>Ø 80</td>
    </tr>
    <tr>
        <td>Noire</td>
        <td>15 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>15 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>15 m</td>
        <td>280</td>
        <td>6 x 6</td>
        <td>Ø 80</td>
    </tr>
    <tr>
        <td>Bleue</td>
        <td>20 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>20 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>20 m</td>
        <td>280</td>
        <td>6 x 6</td>
        <td>Ø 80</td>
    </tr>
    <tr>
        <td>Rouge</td>
        <td>25 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>25 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>25 m</td>
        <td>280</td>
        <td>6 x 6</td>
        <td>Ø 80</td>
    </tr>
    <tr>
        <td>Jaune</td>
        <td>30 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>30 m</td>
        <td>140</td>
        <td>6 x 3</td>
        <td>Ø 80</td>
        <td>30 m</td>
        <td>280</td>
        <td>6 x 6</td>
        <td>Ø 80</td>
    </tr>
    <tr>
        <td rowspan="3">Bronze</td>
        <td rowspan="3">45 + 35 + 25 m</td>
        <td rowspan="2">CL/BB : 430</td>
        <td rowspan="3">3 x 18</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="3">30 m</td>
        <td rowspan="3">310</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="3">40 m</td>
        <td rowspan="2">280</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="2">Ø 80</td>
    </tr>
    <tr></tr>
    <tr>
        <td>CO : 460</td>

        <td>310</td>

        <td>Ø 80 FITA</td>
    </tr>
    <tr>
        <td rowspan="3">Argent</td>
        <td rowspan="3">55 + 45 + 35 m</td>
        <td rowspan="2">CL/BB : 430</td>
        <td rowspan="3">3 x 18</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="3">50 m</td>
        <td rowspan="3">310</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="2">60 m</td>
        <td rowspan="2">280</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="2">Ø 122</td>
    </tr>
    <tr></tr>
    <tr><!--td--><!--td-->
        <td>CO : 460</td>

        <td>50 m</td>
        <td>310</td>

        <td>Ø 80 FITA</td>
    </tr>
    <tr>
        <td rowspan="3">Or</td>
        <td rowspan="3">65 + 55 + 45 m</td>
        <td rowspan="2">CL/BB : 430</td>
        <td rowspan="3">3 x 12</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="3">70 m</td>
        <td rowspan="3">310</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="3">Ø 122</td>
        <td rowspan="2">70 m</td>
        <td rowspan="2">280</td>
        <td rowspan="3">6 x 6</td>
        <td rowspan="2">Ø 122</td>
    </tr>
    <tr></tr>
    <tr>
        <td>CO : 460</td>

        <td>50 m</td>
        <td>330</td>

        <td>Ø 80 FITA</td>
    </tr>
    </tbody>
</table>
