<table>
    <thead>
        <tr>
            <th>Id</th>
            <th colspan="2">Le titre du tableau</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
        <tr>
            <td>Cellule 1</td>
            <td>Cellule 2</td>
            <td>Cellule 3</td>
            <td>Cellule 4</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Pied de tableau 1</td>
            <td>Pied de tableau 2</td>
            <td>Pied de tableau 3</td>
            <td>Pied de tableau 4</td>
        </tr>
    </tfoot>
</table>
