<div class="toggleables">
    {% for i in range(1, 5) %}
        <div class="toggleable">
            <h3 class="toggleable-summary">Reque verear detraxit tortor tantas option</h3>
            <p class="toggleable-content">
                Populo consetetur in ponderum mus nullam nibh dis lectus. Legere morbi interesset mediocritatem facilisi.
                Cu vestibulum nullam novum similique latine instructior fames sociosqu.
                Feugiat delectus vocibus nibh consectetuer nostra orci diam. Commodo mazim iusto liber maecenas.
            </p>
        </div>
    {% endfor %}
</div>
