<div class="typography-container">
    <div class="typography-elements">
        <div class="typography-element">
            <div>
                <h1>H1 Headline</h1>
                <h2>H2 Headline</h2>
                <h3>H3 Headline</h3>
                <h4>H4 Headline</h4>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </div>
        <div class="typography-element">
            <div>
                <h1>H1 Headline</h1>
                <h2>H2 Headline</h2>
                <h3>H3 Headline</h3>
                <h4>H4 Headline</h4>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
        </div>
    </div>
    <div class="typography-elements">
        <div class="typography-element">
            <h1>Je suis un titre h1</h1>
            <h2>Avec un titre h2</h2>
            <h3>Et avec titre en h3</h3>
            <p>
                Je suis le text qui accompagne le titre. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum.
            </p>
            <p>
                In hendrerit, nibh nec laoreet iaculis, <strong>magna elit blandit diam, eget pretium massa</strong> orci nec
                turpis. Ut a massa facilisis, auctor metus a, ultrices est. Curabitur odio orci, auctor pulvinar felis id,
                ornare placerat mauris. Etiam neque felis, rhoncus nec dui vitae, dignissim mattis nibh. Morbi eu finibus
                arcu. <a href="#">Morbi tempus</a> arcu vel augue vulputate, ac iaculis elit elementum. Ut eu risus
                ullamcorper, ultricies purus ac, cursus quam. Nullam rhoncus neque in tristique laoreet. Aenean a dapibus
                dui.
            </p>
            <h3>Et avec titre en h3</h3>
            <p>
                Je suis le text qui accompagne le titre. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum.
            </p>
            <h2>Avec un titre h2</h2>
            <p>
                Je suis le text qui accompagne le titre. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum.
            </p>
        </div>
    </div>
</div>
