@import "../../styles/variable";

.footer {
  width: 100%;
  background-color: $color-grey;
  color: $color-white;
  position: relative;
  margin-top: 200px; // min 174px size of image

  &::before {
    content: "";
    background-image: url("../../images/shape/black-curve.svg");
    width: 100%;
    height: 174px; // size of image
    top: -174px; // size of image
    position: absolute;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;

    .menu {
      p {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: large;
      }

      ul {
        li {
          margin-bottom: 5px;

          &:last-child {
            font-size: small;
          }
        }
      }
    }

    .logo {
      height: 300px;
      width: 300px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .footer {
    .footer-container {
      .logo {
        display: none;
      }
    }
  }
}